# ─── Supabase ───────────────────────────────────────────────────────────────
VITE_SUPABASE_URL=https://kkjqvugyeaxftalczjlw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtranF2dWd5ZWF4ZnRhbGN6amx3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0Njc5NDYsImV4cCI6MjA5MTA0Mzk0Nn0.JSMzAEgEdPRIeitgVWmzLMhpiW-ZcEkVLP3e4umvJD4

